; This is a trimmed-down version of the config we use at Pivotal
; It's pretty cool !
[core]
  editor = nvim
  pager = cat

[user]
    name = Daniel Garnier-Moiroux
    email = git@garnier.wf

[alias]
    st = status
    di = diff
    co = checkout
    sw = switch
    ci = duet-commit
    cp = cherry-pick
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    rbi = rebase --interactive --autosquash --autostash
    unstage = reset HEAD
; stats : https://github.com/arzzen/git-quick-stats
    stats = ! ~/bin/git-quick-stats
    please = push --force-with-lease
    pff = pull --ff-only
    fp = fetch -p
    fu = duet-commit --fixup

[rebase]
    autosquash = true
[init]
	defaultBranch = main
[pull]
	ff = only


[rerere]
	enabled = true
