; This is a trimmed-down version of the config we use at Pivotal
; It's pretty cool !
[core]
    editor = vim

[user]
    name = Daniel Garnier-Moiroux
    email = git@garnier.wf

[alias]
    st = status
    di = diff
    co = checkout
    ci = commit 
    br = branch
    sta = stash
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    blog = log origin/master... --left-right
    ds = diff --staged
    unstage = reset HEAD

[rebase]
    autosquash = true

